/* footer   */

footer{
    text-align: center;
    background-color: #0A0826;
    padding: 50px 589px; 
    position: absolute; 
    /* left: 589px; */
    top: 3000px;
}
footer h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
footer .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0826;
    

}
footer a{
    margin-right: 16px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 35px;
    border: 6px solid#27254260;
    

} 
