nav{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}


nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    
}
.intro{
    display: flex;
    
    
}
