nav{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    margin-left: 120px;
    margin-right: 120px;
}


nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    
}

