nav{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    margin-left: 120px;
    margin-right: 120px;
}

.checkbtn{
    font-size: 24px;
    cursor: pointer;
    margin: 15px 10px;
    display: none;
}
#check{
    display:none
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    
}

