@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    /* padding: 120px; */
    
    
}
/* intro */
.container{
    padding: 120px ;
    display: flex;
    justify-content: space-between;
}
.intro h1{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.intro article{
    position: flex;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
} 
.intro a{
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    color: aliceblue;
    font-size: 16px; 
    line-height: 24px;
    text-decoration: none;
}
.intro img{
    position: absolute;
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
}
/* brands */
.brands{
    align-items: center;
    justify-content: space-between;
    margin: 0 12em;
    padding-left: 6em; 
}
.brands img{
    margin: 10px 20px;
}
/* collection */
.collections h2{
    display: flex;
    justify-content: center;
}
.collections{
    width: 1047px;
    height: 1150px;
    margin: 0 auto;
}
.card-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
.section-title{
    color: #3A3A3A;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 30px;
}
.card{
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card .card-image img{
    width: 300px;
    height: 256px;
    padding: 15px 15px 0px 14px;
    border-radius: 5px;
}
.card-details{
    padding-left: 14px;
}
.card-title{
    color: #18191F;
}
.price{
    font-family: Inter;
    font-size: 24px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.ratings{
    color: #5E6366;
    padding-left: 8px;
}
.card-info{
    color: #787885;
}

.more{
    text-decoration: none;
    color: #E02C6D;
}
/* feature
 */

 .feature-img{
    position: relative;
    width: 404px;
    height: 270px;
    left: 19%;
    top: 650px;
 }
 .feature article{
    position: relative;
    width: 610px;
    height: 60px;
    left: 50%;
    top: 410px;
    color: #18191F;
    text-decoration: none;
 }
.feature a{
        width: 196px;
        height: 44px;
        padding: 10px 24px;
        background: #E02C6D;
        border-radius: 41px;
        color: aliceblue;
        font-size: 16px; 
        line-height: 24px;
        text-decoration: none;
}
.collections p>a{
    text-decoration: none;
    color: #E02C6D;
    position: relative;
    left: 1000px;
} 

@media only screen and (max-width: 470px){
    .nav-bar{
        height: 25px;
    }
    .checkbtn{
        display: block;
        margin: 15px 35px;
    }
    .title{
        position: absolute;
        top: 0;
        left: 60px;
        font-size: 18px;
    }
    ol{
        position: fixed;
         width: 45%;
         top: 45px;
         left: -100%;
         transition: all 0.5s;
         background-color: burlywood;
         z-index: 1;
    }
    nav ol a{
        display: block;
    }
    #check:checked ~ ol{
        left: -60px;
        text-align: center;
    }
    .container{
        position: relative;
        top: 0px;
        flex-direction: column;
        text-align: center;
    }
    .intro article{
        width: 90%;
    }
    .intro{
        padding: 5px;

    }
    .intro h1{
        font-size: 30px;
        margin: 5px 0;

    }
    .intro-img{
        width: 50%;
        padding-top: 20px;
        padding-left: 0;
    }
    .brands{
        margin: 0;
        padding: 0;
        
    }

}






 
