body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: aqua; */
    padding-left: 120px;
    padding-right:165px ;
}
/* intro */
.intro{
    display: flex;
}
.intro h1{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.intro article{
    position: flex;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
} 
.intro button{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    color: aliceblue;
    font-size: 16px; 
    line-height: 24px;
}
.intro img{
    position: absolute;
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
}
/* brands */
.brands img{
    display: flex;
    
    
}






 
