body{
    font-family: 'Poppins', sans-serif;
    
    /* background-color: aqua; */
    padding-left: 120px;
    padding-right:165px ;
}
/* intro */
.container{
    display: flex;
    justify-content: space-between;
}
.intro h1{
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.intro article{
    position: flex;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
} 
.intro a{
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    color: aliceblue;
    font-size: 16px; 
    line-height: 24px;
    text-decoration: none;
}
.intro img{
    position: absolute;
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
}
/* brands */
.brands{
    align-items: center;
    justify-content: space-between;
    margin: 0 12em;
    padding-left: 6em; 
}
.brands img{
    margin: 10px 20px;
}
/* collection */
.collection h2{
    display: flex;
    justify-content: center;
}





 
