 /* /------fonts link --------/ */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

 /* /----- common styles ------/*/
 *{    
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
 }
 body{
     font-family: 'Poppins', sans-serif;
 
 }
 
 /* /------header style ------/ */
 nav{
     height: 80px;
     width: 100%;
     margin-bottom: 40px;
 }
 .nav-logo{
     display: inline-block;
     color: #3A3A3A;
     font-size: 24px;
     padding-top: 20px;
     padding-left: 65px;
 }
 nav ul{
     float: right;
     margin-right: 40px;
 }
 nav ul li{
     display: inline-block;
     margin: 20px 30px;
 }
 nav ul li a{
     color: #3A3A3A;
     font-size: 15px;
 }
 .checkbtn{
     font-size: 24px;
     cursor: pointer;
     margin: 15px 10px;
     display: none;
 }
 #check{
     display: none;
 }
 
 
 
 /* /------ main style ------/ */
 
 /* /---- influence area -----/ */
 
 .influence-area{
     display: flex;
     justify-content: space-around;
     margin-bottom: 60px;
 }
 .influence-details{
     padding: 40px 60px;
     color: #3A3A3A;
 }
 .influence-details h1{
     font-size: 40px;
 }
 .influence-width{ 
     width: 50%;
 }
 .buy-button{
     background-color: #E02C6D;
     color:white;
     border-radius: 41px;
     width: 196px;
     height: 44px;
     padding: 10px 24px;
     text-align: center;
 }
 .fa-arrow-right{
     margin-left: 20px;
     font-size: 15px;
 }
 
 .influence-image img{
     width: 70%;
     padding-left: 40px;
 }
 
 /* /----- logos area ----/ */
 hr {
     width: 1110px;
     color: #3A3A3A;
     margin-left: 200px;
 }
 .logos{
     margin: 0 12em;
     padding-left: 6em;
 }
 .logos img{
     margin: 10px 20px;
 }
 
 /* /----- collection area -----/ */
 
 .collection-area{
     width: 1047px;
     height: 1150px;
     margin: 0 auto;
 }
 .card-collection{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 20px;
     grid-row-gap: 25px;
 }
 .section-title{
     color: #3A3A3A;
     text-align: center;
     margin-top: 80px;
     padding-bottom: 30px;
 }
 .card{
     border-radius: 5px;
     background: #FFFFFF;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .card .card-image img{
     width: 300px;
     height: 256px;
     padding: 15px 15px 0px 14px;
     border-radius: 5px;
 }
 .card-details{
     padding-left: 14px;
 }
 .card-title{
     color: #18191F;
 }
 .price{
     font-family: Inter;
     font-size: 24px;
 }
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{
     color: #FB8200;
 }
 .ratings{
     color: #5E6366;
     padding-left: 8px;
 }
 .card-info{
     color: #787885;
 }
 .more-button{
     background-color: white;
     float: right;
     margin-top: 20px;
 }
 .more-button button{
     color:  #E02C6D;
     background-color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 17px;
 }
 button .fas.fa-arrow-right{
     margin-left: 10px;
     font-size: 13px;
 }
 
 /* /------ contact area ------/ */
 .contact-area{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #fceae8;
     width: 1110px;
     height: 250px;
     margin: 0 auto;
 }
 #last-section input{
     border: none;
     background-color: rgb(90, 176, 247);
     width: 300px;
     padding: 5px 50px;
     border-radius: 5px;
     font-size: 15px;
 }
 
 #last-section input::placeholder{
     color: black;
 }
 #last-section button{
     border: none;
     border-radius: 5px;
     padding: 5px 50px;
     color: white;
     background-color: #E02C6D;
     margin-top: 10px;
     font-size: 15px;
     cursor: pointer;
 }
 
 /* /----footer area ----/ */
 footer{
     background-color: #0A0826;
     color: white;
     text-align: center;
     margin-top: 40px;
 }
 .footer-part{
     padding: 20px 0;
 }
 
 .footer-part i{
     font-size: 20px;
     color: white;
     margin: 10px;
 }
 
 /*-----------------
     media queries
 ------------------- */
 /*-----------------
  mobile device
  ------------------ */
  @media only screen and (max-width:426px){
  /*------------------ header---------------- */
     
      .nav-bar{
         height: 25px;
     }
     .checkbtn{
          display: block;
          margin: 15px 35px;
      }
      .nav-logo{
         position: absolute;
         top: 0;
         left: 60px;
         font-size: 18px;
      }
      ul{
          position: fixed;
          width: 45%;
          top: 45px;
          left: -100%;
          transition: all 0.5s;
          background-color: burlywood;
          z-index: 1;
      }
      nav ul li{
          display: block;
      }
      #check:checked ~ ul{
         left: -60px;
         text-align: center;
     }
 
 /*------- influence-area --------------*/
 
     .influence-area{
         position: relative;
         top: 0px;
         flex-direction: column;
         text-align: center;
     }
     .influence-width{
         width: 90%;
     }
     .influence-details{
         padding: 5px;
     }
     .influence-details h1{
         font-size: 30px;
         margin: 5px 0;
     }
     .influence-details p{
         font-size: 13px;
     }
     .influence-image img{
         width: 50%;
         padding-top: 20px;
         padding-left: 0;
     }
     .logos{
         margin: 0;
         padding: 0;
         width: auto;
     }
     .logos img{
         margin: 0px;
         padding: 5px
     }
     hr{
         margin-left: 0;
     }
 /*------------------ 
     collection area 
 ---------------------*/
     .collection-area{
             width: 100%;
             height: auto;
     }
     .section-title{
         text-align: start;
         margin-left: 70px;
         margin-top: 20px;
         padding-bottom: 20px
     }
     .card-collection{
         display: grid;
         grid-template-columns: 350px;
         grid-row-gap: 10px;
         margin: 0 15px;
     }
     .card{
         margin: 10px;
     }
     .more-button{
         margin-top: 0;
         margin-right: 60px;
         margin-bottom: 10px;
     }
     .more-button button{
         font-size: 15px;
     }
     button .fas.fa-arrow-right {
         margin-left: 6px;
         font-size: 11px;
     }
 
 
 
 /*---------------
      footer
 -----------------*/
     footer{
         width: 450px;
     }
 }
 
  /*-------------------------------- 
     tablet device
  ----------------------------------- */
  
  @media only screen and (min-width: 427px) and (max-width: 768px){
      
  /*------------------ header---------------- */
     .nav-logo{
          padding-top: 17px;
         padding-left: 30px;
         font-size: 20px;
      }
      nav ul{
          margin-right: 10px;
      }
      nav ul li{
          margin: 20px 15px; 
      }
 
  /*------------------- influence area ---------------*/
      .influence-details{
          padding-top: 0;
      }
      .influence-image img{
          width: 90%;
          padding-top: 35px;
          padding-left: 0;
      }
 
 /*-------------------- logos ----------------- */
      hr{
         width: 100%; 
         margin-left: 0;
      }
      .logos{
          margin: 0;
          padding-left: 0;
      }
      .logos img{
          margin: 5px 12px;
      }
 
 /*---------------- collection area ------------------------- */
     .collection-area{
         width: 100%;
         height: auto;
     } 
     .section-title{
          margin-top: 40px;
          margin-right: 180px;
      }
      .card-collection{
         grid-template-columns: repeat(2, 345px);
         grid-column-gap: 15px;
         margin-left: 30px;
     }
      .card{
          border: 1px solid yellow;
          margin: 2px;
      }
      .more-button{
          margin-top: 5px;
          margin-right: 50px;
          margin-bottom: 10px;
      }
 
 
  }